// //////////////////////////////////////////////
// COLORS
// //////////////////////////////////////////////

// colors
// //////////////////////////////////////////////

$white: #fff

$light-grey: #f9fafb
$grey: #dee1e5
$dark-grey: #262728

$light-blue: #288ec3
$blue: #70767f
$med-blue: #242f3a
$dark-blue: #1c262f


// layout
// //////////////////////////////////////////////

// branding
$logo: $white
$logo-accent: $light-blue

// panels
$app-bg: $dark-blue
$panel-top: $dark-blue
$panel-nav: $med-blue
$panel-hero: $dark-grey
$panel-content: $dark-blue

// nav
$nav-footer-bg: $dark-blue
$nav-item-color: $white
$nav-item-color-hover: $light-blue
$nav-item-header-bg: $dark-blue

// typography
$page-title: $white
$headings: $med-blue
$color-p: $blue
$link: $dark-blue
$link-hover: $light-blue
$list-items: $blue

// block
$block-bg: $dark-blue
$block-border: $dark-blue
$block-bottom-border: $dark-blue
$block-border-top: $dark-blue
$block-comment-bg: $dark-blue
$block-user-name: $white
$block-post-time: $light-blue

// hr
$hr: $dark-grey

// form submit
$submit-color: $white
$submit-bg: $light-blue
$submit-bg-hover: $light-blue

// form fields
$form-field-color: $white
$form-field-border: $blue
$form-field-border-focus: $dark-blue
$form-field-focus-color: $dark-blue
$textarea-color: $blue

// switch (checkbox)
$switch-label: $blue
$switch-toggle: $white
$switch-toggle-bg: $dark-blue
$switch-toggle-bg-active: $light-blue

// radio
$radio-label: $blue
$radio-toggle: $med-blue
$radio-border: $grey
$radio-bg: $white

// change avatar
$change-avatar-color: $blue
$change-avatar-border: $blue