// //////////////////////////////////////////////
// FORMS
// //////////////////////////////////////////////

// labels
// //////////////////////////////////////////////

label
	position: relative
	display: block
	margin-bottom: 15px
	+font(16px, 18px)
	color: $color-p

hr
	border-top: 1px solid $hr

// buttons
// //////////////////////////////////////////////

.submit
	position: relative
	display: inline-block
	border: 0
	+font(14px, 18px)
	font-weight: 300
	padding: 10px 15px
	+border-radius(4px)
	color: $white
	cursor: pointer
	+transition(all .3s ease-in-out)
	background: $submit-bg

	+hover
		background: darken($submit-bg-hover, 5%)

// fields
// //////////////////////////////////////////////

.field-wrap
	position: relative
	display: inline-block
	width: 100%

input[type="text"],
input[type="password"]
	vertical-align: top
	height: 40px
	width: 100%
	position: relative
	display: inline-block
	padding: 0 3px
	background: transparent
	+border-radius(4px)

	&:last-child
		margin-bottom: 0

	&:focus
		color: $form-field-focus-color !important
		border: 1px solid darken($form-field-border-focus, 5%) !important
		outline: 0



// panel content input fields

.panel-content
	input[type="text"],
	input[type="password"]
		max-width: 360px
		padding: 3px 12px
		margin-bottom: 15px
		border: 1px solid $form-field-border
		+font(16px, 30px)
		color: $form-field-color

// checkbox switches
// //////////////////////////////////////////////

.switch-wrap
	position: relative
	display: block
	margin-bottom: 15px

.switch
	position: relative
	z-index: 3
	left: 11px
	height: 28px
	width: 60px
	padding: 0
	margin: 1px 0
	+opacity(0)
	cursor: pointer

	+hover
		right: 49px

input.switch:checked + .switch-toggle
	background: $switch-toggle-bg-active

	&:after
		+transform(translateX(25px))

.switch-toggle
	position: absolute
	display: block
	top: 0
	width: 50px
	height: 25px
	+border-radius(50em)
	background: darken($switch-toggle-bg, 5%)
	z-index: 1

	&:after
		position: absolute
		display: block
		height: 23px
		width: 23px
		+border-radius(50em)
		background: $switch-toggle
		z-index: 2
		left: 1px
		top: 1px
		+transition(all .15s linear)
		content: ''

.switch-label
	position: relative
	vertical-align: top
	color: $switch-label

	+mq(desk)
		top: 3px

// checkbox radio
// //////////////////////////////////////////////

.radio-wrap
	position: relative
	display: block
	margin-bottom: 15px

.radio
	position: relative
	z-index: 3
	height: 22px
	width: 22px
	padding: 0
	margin: 1px 0
	+opacity(0)
	cursor: pointer

	+hover
		right: 49px

input.radio:checked + .radio-toggle
	&:after
		+opacity(1)

.radio-toggle
	position: absolute
	display: block
	top: 0
	width: 23px
	height: 23px
	margin: 0 10px
	+border-radius(50em)
	background: $radio-bg
	border: 1px solid $radio-border
	z-index: 1

	&:after
		position: absolute
		display: block
		+opacity(0)
		height: 15px
		width: 15px
		+border-radius(50em)
		background: $radio-toggle
		z-index: 2
		left: 3px
		top: 3px
		+transition(opacity .15s ease-in-out)
		content: ''

.radio-label
	position: relative
	vertical-align: top
	color: $radio-label

	+mq(desk)
		top: 3px

// textarea
// //////////////////////////////////////////////

textarea
	position: relative
	display: block
	width: 100%
	min-height: 90px
	padding: 5px
	margin-bottom: 15px
	border: 0
	+border-radius(2px)
	+font(14px, 18px)
	color: $textarea-color

// change user avatar
////////////////////////////////////////////////

.change-avatar
	display: block
	width: 100%
	text-align: center
	font-weight: 300
	font-size: 12px
	line-height: 30px
	color: $change-avatar-color
	border: 1px solid $change-avatar-border
	border-radius: 4px