// //////////////////////////////////////////////
// TYPOGRAPHY
// //////////////////////////////////////////////

// -- Site typography

// fonts
////////////////////////////////////////////////

=material
	font-family: 'icomoon'

=open-sans
	font-family: 'Open Sans', sans-serif


// headings
// //////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6
	margin-top: 0
	margin-bottom: $bsu
	font-weight: 400
	color: #fff

.page-title
	color: #fff
	+font(30px, 30px)

.section-title
	color: $color-p
	text-transform: uppercase
	+font(13px, 30px)

// paragraphs
// //////////////////////////////////////////////

p
	margin: 0 0 $bsu 0
	+font(15px, 25px)
	color: $color-p

a
	color: $color-details
	text-decoration: none
	+transition(color .3s ease-in-out)

	+hover
		color: $color-active

li
	color: $color-p