// //////////////////////////////////////////////
// BLOCK
// //////////////////////////////////////////////

// -- Main block for the content stream.

.block
	position: relative
	display: block
	width: 100%
	overflow: hidden
	background: $block-bg
	border: 1px solid $block-border
	+border-radius(4px)
	margin-bottom: 25px

	p:last-child
		margin-bottom: 0 !important

	&.bottom-border
		+border-radius(0)
		border: 0
		border-bottom: 1px solid $block-bottom-border
		padding-bottom: 50px
		margin-bottom: 50px

.block-padding
	position: relative
	display: block
	width: 100%
	padding: $bsu
	border-top: 1px solid darken($block-border-top, 5%)

	&.comment
		background: darken($block-comment-bg, 5%)

	&:first-child
		border-top: 0

.post-title
	position: relative
	display: block
	margin-bottom: 5px
	+font(16px, 18px)
	color: $block-user-name

.post-img
	position: relative
	display: block
	width: 100%
	height: auto

.post-time
	position: relative
	display: block
	color: $block-post-time
	+font(13px, 18px)

.more
	position: absolute
	display: block
	right: 0
	top: 0
	color: $light-blue

	.icon-chevron-right
		+font(36px, 36px)


// Style for channel listing

.channel-listing

	.post-title	
		+font(24px, 26px)

	.post-time
		color: $white

	.icon-chevron-right
		color: $white

		+hover
			color: $light-blue